body{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header{
    background-color: #FFD900;
    height: 6rem;
    width: 100%;
}

header img{
    padding: 1rem;
    margin-left: 3rem;
}

main{
    display: grid;
    grid-auto-flow: column;
}

#left{
    width: 49rem;
    height: 47rem;
    background-color: #514988;
}
#left h1{
    font-weight: 700;
    font-size: 70px;
    line-height: 85px;
    text-align: center;
    color: #F3C61F;
    height: 4rem;
}

#left h2{   
    font-size: 29px;
    line-height: 35px;
    text-align: center;
    color: white;
}

#left p{
    font-size: 28px;
    line-height: 35px;   
    text-align: center;
    color: #FFFFFF;
    width: 40rem;
    margin: auto;
    margin-top: 5rem;
}

#right{
    width: 60rem;
    margin-left: -6rem;

}

.timer{
    display: grid;
    grid-auto-flow: column;
    font-weight: 700;
    font-size: 70px;   
    color: #514988;
    justify-content: space-between;
    margin-top: -2rem;
    margin-left: 2rem;
}

 #right h3{
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    align-items: center;
    text-align: center;
    color: #E33881;
    margin-top: -4rem;
 }

.video{
    width: 65rem;
}

#p{
    font-weight: 700;
    font-size: 27px;
    line-height: 33px;
    color: #F3C61F;
    margin-left: 8rem;
}

section #img{
    margin-left: 7rem;
}

section {
    display: grid;
    grid-auto-flow: column;
    margin-bottom: 3rem;
}

section button{
    margin-top: 2rem;
    width: 596px;
    height: 148px;
    font-weight: 700;
    font-size: 42px;
    line-height: 51px;
    text-align: center;
    color: #FFFFFF;
    border-radius: 20px;
    background-color: #514988;
    border: none;
    cursor: pointer;

}

section button:hover{
    color:#F3C61F;
}