body{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header{
    background-color: #FFD900;
    height: 6rem;
    
}

header img{
    padding: 1rem;
    margin-left: 3rem;
}

main{
    display: grid;
    grid-auto-flow: column;
}

#left{
    width: 49rem;
    height: 47rem;
    background-color: #514988;
}
#left h1{
    font-weight: 700;
    font-size: 70px;
    line-height: 85px;
    text-align: center;
    color: #F3C61F;
    height: 4rem;
}

#left h2{   
    font-size: 29px;
    line-height: 35px;
    text-align: center;
    color: white;
}

#left p{
    font-size: 28px;
    line-height: 35px;   
    text-align: center;
    color: #FFFFFF;
    width: 40rem;
    margin: auto;
    margin-top: 5rem;
}

#right{
    width: 60rem;
    margin-left: -6rem;

}

.timer{
    display: grid;
    grid-auto-flow: column;
    font-weight: 700;
    font-size: 70px;   
    color: #514988;
    justify-content: space-between;
    margin-top: -2rem;
    margin-left: 2rem;
}

 #right h3{
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    align-items: center;
    text-align: center;
    color: #E33881;
    margin-top: -4rem;
 }

.video{
    width: 65rem;
}

#p{
    font-weight: 700;
    font-size: 27px;
    line-height: 33px;
    color: #F3C61F;
    margin-left: 8rem;
}

section #img{
    margin-left: 7rem;
}

section {
    display: grid;
    grid-auto-flow: column;
    margin-bottom: 3rem;
}

section button{
    margin-top: 2rem;
    width: 596px;
    height: 148px;
    font-weight: 700;
    font-size: 42px;
    line-height: 51px;
    text-align: center;
    color: #FFFFFF;
    border-radius: 20px;
    background-color: #514988;
    border: none;
    cursor: pointer;

}

section button:hover{
    color:#F3C61F;
}

@media only screen and (max-width: 600px){
    header{
        width: 24.4rem;
    }

    header img{        
        display: flex;
        margin: auto;
    }

    main{
        grid-auto-flow: row;
    }

    #left{
        width: 24.4rem;
        height: 60rem;
    }

    #left h1{
        font-size: 55px;
        line-height: 65px;
        margin-bottom: 6rem;
    }

    #left h2{
        font-size: 23px;
    }

    #left p{
        font-size: 23px;
        width: 20rem;
    }

    main video{
        display: none;
    }

    #right{
        width: 30.4rem;
    }

    .timer{
        width: 80%;
        font-size: 30px;
        justify-content:space-around;
        margin-left: 6rem;
        margin-bottom: 3rem;
        margin-top: 2rem;
    }

    #right h3{
        width: 20rem;
        font-size: 20px;
        margin-left: 8rem;
    }

    #p{
        width: 20rem;
        margin-left: 2.5rem;
        text-align: center;
    }

    section{
        display: block;
        margin-left: -1rem;
    }

    #img img{
       margin-top: 2rem;
       margin-bottom: 2rem;
    }

    section button{
        width: 19rem;
        height: 6rem;
        margin-left: 3.5rem;
        font-size: 30px;
    }
}