body{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header{
    background-color: #FFD900;
    height: 6rem;
    width: 100%;
}

header img{
    padding: 1rem;
    margin-left: 3rem;
}

main{
    display: grid;
    grid-auto-flow: column;
}

#left{
    width: 47rem;
    height: 42rem;
    background-color: #514988;
}
#left h1{
    font-weight: 700;
    font-size: 70px;
    line-height: 85px;
    text-align: center;
    color: #F3C61F;
    height: 4rem;
}

#left h2{   
    font-size: 29px;
    line-height: 35px;
    text-align: center;
    color: white;
}

#left p{
    font-size: 23px;
    line-height: 35px;   
    text-align: center;
    color: #FFFFFF;
    width: 33rem;
    margin: auto;
    margin-top: 4rem;
}

.timer{
    display: grid;
    grid-auto-flow: column;
}

.video{
    width: 40rem;
}
